/* Reset some default styles and set background color */
body {
    background-color: #232323;
    font-family: Sans-serif;
    font-size: 62.5%; /* 1 em = 10px */
    margin: 0;
}

/* Container styles */
#container {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 20px;
}

/* Circular color selection elements */
.circle {
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    transition: background .5s;
    border-radius: 50%;
}

/* Header styles */
h1 {
    color: white;
    background-color: #232323;
    font-size: 3.5em;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 0;
}

/* Displayed color value styles */
#color-display {
    display: block;
    font-size: 2em;
}

/* Header stripe styles */
#stripe {
    background: white;
    height: 30px;
    text-align: center;
    color: black;
}

/* Message display styles */
#message {
    text-transform: uppercase;
    color: #232323;
    font-size: 1.5em;
    display: inline-block;
    width: 20%;
}

/* Button styles */
button {
    outline: none;
    color: #232323;
    font-family: "Raleway", Sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    background-color: white;
    height: 100%;
    letter-spacing: 1px;
    transition: all 0.3s;
}

/* Button hover effect */
button:hover {
    background-color: #232323;
    color: white;
}

/* Selected button styles */
.selected {
    background-color: #232323;
    color: white;
}

/* Global reset for borders */
* {
    border: 0px solid black;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Modal content styles */
.modal-content {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    font-size: 24px;
}

/* Style for the "Play Again" button */
#playAgainButton {
    background-color: #232323;
    color: white;
    padding: 10px 20px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

/* Hover effect for "Play Again" button */
#playAgainButton:hover {
    background-color: #232323;
}

/* Timer styles */
#timer {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: beige;
}

/* Style for the timer value (the number) */
#timer-display {
    color: #232323; /* Change text color as needed */
    background-color: white; /* Change background color as needed */
    padding: 5px 10px; /* Adjust padding as needed */
    border-radius: 5px; /* Add rounded corners */
}
